In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
#importing the breast cancer dataset
df=pd.read_csv("breast_cancer.csv")
X=df.iloc[:,1:-1].values
y=df.iloc[:,-1].values
df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1059552,1,1,1,1,2,1,3,1,1,2
24,1065726,5,2,3,4,2,7,3,6,1,4
25,1066373,3,2,1,1,1,1,2,1,1,2
26,1066979,5,1,1,1,2,1,2,1,1,2
27,1067444,2,1,1,1,2,1,2,1,1,2
28,1070935,1,1,3,1,2,1,1,1,1,2
29,1070935,3,1,1,1,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
653,1350423,5,10,10,8,5,5,7,10,1,4
654,1352848,3,10,7,8,5,8,7,4,1,4
655,1353092,3,2,1,2,2,1,3,1,1,2
656,1354840,2,1,1,1,2,1,3,1,1,2
657,1354840,5,3,2,1,3,1,1,1,1,2
658,1355260,1,1,1,1,2,1,2,1,1,2
659,1365075,4,1,4,1,2,1,1,1,1,2
660,1365328,1,1,2,1,2,1,2,1,1,2
661,1368267,5,1,1,1,2,1,1,1,1,2
662,1368273,1,1,1,1,2,1,1,1,1,2
663,1368882,2,1,1,1,2,1,1,1,1,2
664,1369821,10,10,10,10,5,10,10,10,7,4
665,1371026,5,10,10,10,4,10,5,6,3,4
666,1371920,5,1,1,1,2,1,3,2,1,2
667,466906,1,1,1,1,2,1,1,1,1,2
668,466906,1,1,1,1,2,1,1,1,1,2
669,534555,1,1,1,1,2,1,1,1,1,2
670,536708,1,1,1,1,2,1,1,1,1,2
671,566346,3,1,1,1,2,1,2,3,1,2
672,603148,4,1,1,1,2,1,1,1,1,2
673,654546,1,1,1,1,2,1,1,1,8,2
674,654546,1,1,1,3,2,1,1,1,1,2
675,695091,5,10,10,5,4,5,4,4,1,4
676,714039,3,1,1,1,2,1,1,1,1,2
677,763235,3,1,1,1,2,1,2,1,2,2
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

In [30]:
df.shape

(683, 11)

In [15]:
#Splitting the data into test and training data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [17]:
#training the train data on logistic Regression model
from sklearn.linear_model import LogisticRegression
logres=LogisticRegression(random_state=0)
logres.fit(X_train,y_train)

C:\Users\KRUTER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [21]:
#Prediction of the test values
y_pred=logres.predict(X_test)
np.concatenate((y_test.reshape(len(y_test),1),y_pred.reshape(len(y_pred),1)),1)

array([[2, 2],
       [2, 2],
       [4, 4],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [4, 4],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 4],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [4, 2],
       [4, 2],
       [2, 4],
       [4, 4],
       [4, 4],
       [4, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [4, 4],
       [2, 2],
       [2, 2],
       [4, 4],
       [4, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [4, 4],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 4],
       [4, 4],
       [2, 2],
       [4, 4],
       [2, 2],
       [4, 4],
       [4, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [4, 4],
       [4, 4],
       [2, 2],
       [4, 4],
       [4, 4],
       [4, 4],
       [4, 4],
       [4, 2],
       [4, 4],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2],
       [2, 2]], dtype=int64)

In [23]:
#Evaluating model using Accuracy score and confusion matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[103   4]
 [  8  56]]

0.9298245614035088

In [27]:
#evaluating using k-fold cross validation
from sklearn.model_selection import cross_val_score
accuracies=cross_val_score(estimator=logres,X=X_train,y=y_train,cv=5)
print("Accuracy of the model :",accuracies.mean())
print("Standard Deviation of the accuracies :",accuracies.std())

Accuracy of the model : 0.9706834189986674
Standard Deviation of the accuracies : 0.01383867628202393

C:\Users\KRUTER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\KRUTER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\KRUTER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\KRUTER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\KRUTER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)